/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
* {
  box-sizing: border-box;
  /* padding: 0; */
  /* padding: 0; */
  text-align: center;
  margin: 0;
  /* font-family: "Lato", sans-serif; */
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}

header h1 {
  margin: 25px;
  color: white;
}

h1 {
  color: white;
}

header {
  width: 100%;
  height: 50px;
  color: white;
}

.to-do-list-adder {
  /* border: pink solid 2px; */
  width: 100%;
  height: 210px;
}

h5 {
  margin: 10px;
  color: white;
}

.submit {
  margin: 5px;
}

.to-do-list-container {
  /* border: solid 2px orange; */
  width: 100%;
  height: 500px;
}

.user-confirmed-to-dos-container {
  /* border: solid 2px blue; */
  width: 100%;
  height: 300px;
  /* position: relative; */
  /* text-align: center; */
}

.listDecoration {
  list-style: none;
}
li {
  list-style: none;
  color: white;
  /* border: black solid 2px; */
}

/* .float {
  float: left;
  margin-right: 5px;
} */

.container {
  background-color: white;
}

/* ol li {
  justify-content: center;
} */

/* .itemsTask {
  display: inline;
  margin-right: 300px;
  font-size: medium;
  border: none;
  padding-right: 200px;
} */

/* .itemsDueDate {
  display: inline;
  font-size: medium;
} */

/* .itemsContainer {
  margin: 5px 0;
  width: 10px;
  width: 50%;
  border: black solid 5px;
} */

/* .buttonsStyle {
  display: inline;
} */

/* #userTask {
  border: black solid 5px;
  font-size: 200000px;
} */
li div {
  display: inline;
  margin-right: 100px;
  padding-right: 40px;
  background: none;
  text-align: center;
}
li {
  /* transform: translateX(40px); */
  background: none;
  /* position: absolute; */
  /* width: 100%;
  top: 50%; */
  transform: translateY(-50%);
}
li span {
  max-width: 2px;
  padding: 5px;
  background: none;
  max-height: 5px;
  /* border: solid 2px black; */
}

ul {
  margin-top: 20px;
}

#confirmed-to-do-list {
  position: relative;
}

.edit-item-modal {
  height: 250px;
  width: 500px;
  border: black solid 2px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#userTask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -180%);
  background: white;
}

#userDate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(15%, -160%);
  background: white;
}

#confirm-button {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-80%, 240%);
}

#cancel-button {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(50%, 240%);
}

h3 {
  background: none;
  transform: translateY(40%);
}

#blocker {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  background: none;

  /* opacity: 0; */
}
